:root{
}

p{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
}

.mainContainer{
    background-color: white;
    border: var(--border);
    width: 65%;
    min-height: 100%;
    display: flex;
}

.leftContainer{
    width: 40%;
    height: 100%;
}

.rightContainer{
    width: 60%;
    height: 100%
}

.sectionOne{
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
    height: 35%;
    margin-right: 10%;
}

form{
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.input{
    width: 35%;
    display: flex;
    flex-direction: column;
}


.sectionThree{

    height: 35%;
}

